.CardStyle {
  background: rgba(47, 50, 65, 0.5);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  margin: 0 auto;
  border-radius: 12px;
  width: 285px;
  height: 329px;
  display: grid;
  align-items: center;
  font-family: "Satoshi-Medium" !important;
}
.cardIcon {
  height: 102px;
  width: 102px;
  left: 0px;
  margin: 0 auto;
  top: 0px;
  border-radius: 50%;
  background: #34384c;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .CardStyle {
    /* width: 327px; */
    height: 372px;
  }
}
@media only screen and (width: 1024px) {
  .CardStyle {
    width: 327px;
    height: 372px;
  }
}
@media only screen and (max-width: 1316px) and (min-width: 1126px) {
  .CardStyle {
    width: 227px;
    height: 372px;
  }
}
