@font-face {
  font-family: "Satoshi-Medium";
  src: url("/public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.heading {
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
}
.title {
  font-family: "Satoshi-medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6e757c;
  display: block;
  margin: 12px 0;
}
.message {
  width: 100%;
  background: rgba(47, 50, 65, 0.5);
  border: 1px solid #34384c;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 9px;
  gap: 10px;
  outline: none;
}
