@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  /* overflow-x: hidden !important; */
}

/* face font */

@font-face {
  font-family: "Satoshi-Black";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-MediumItalic.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  background-color: #000000;
  font-family: "Satoshi-Medium";
  color: #e6e6e6;
  overflow-x: hidden;
}
.title {
  color: rgba(174, 175, 180, 0.5);
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.heading {
  font-family: "Satoshi-Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #e6e6e6;
}
.hero2 {
  background-image: url(../components//images/DecorativeLine.png);
}
/* ====Team Header Section Gredient ========== */

.team_services_section {
  background: radial-gradient(
    46.45% 35.45% at 50% 46.16%,
    rgba(1, 9, 80, 0.9) 3.12%,
    rgba(14, 17, 32, 0) 100%
  );
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .team_services_section {
    background: radial-gradient(
      113.45% 15.45% at 50% 64.16%,
      rgba(1, 9, 80, 0.9) 3.12%,
      rgba(14, 17, 32, 0) 100%
    );
  }
}
.amimated-time {
  --animate-delay: 2s;
}
.subscribeBtn {
  background: rgba(47, 50, 65, 0.5);
  border: 1px solid #34384c;
  border-radius: 12px;
  border: none;
  outline: none;
}
.footerBtn {
  background: linear-gradient(
    265.56deg,
    #1b66f9 -0.27%,
    #1e68f6 -0.26%,
    #004bdb 98.59%
  );
  border-radius: 8px;
}
p.cardWallet {
  margin-right: 18px;
}
/* =====Features Section===== */
.features_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #ffffff;
}
.footer_border {
  border-top: 1px solid #5f6064;
  margin-top: 2rem;
}
.footer_text {
  font-family: "Satoshi-Regular";
  font-size: 16px;
  line-height: 24px;

  color: #aeafb4;
}
@media only screen and (max-width: 768px) {
  .features_title {
    font-size: 32px;
    line-height: 32.5px;
  }
}
