.gredient {
  background: radial-gradient(
    51.45% 59.45% at 17% 34.16%,
    rgba(1, 9, 80, 0.9) -24.88%,
    rgba(14, 17, 32, 0) 115%
  );
}

/* .gredient {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: radial-gradient(
    46.45% 35.45% at 50% 46.16%,
    rgba(1, 9, 80, 0.9) 3.12%,
    rgba(14, 17, 32, 0) 100%
  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
} */

.heading {
  background-image: url(../public/pattern\ .png);
  height: 231vh;
  background-repeat: no-repeat;
  z-index: 100;
  width: 100%;
}

.floatRightt {
  animation: floatRightt 4.5s ease-in-out infinite;
}
.floatRightt {
  animation: floatLeftt 4.5s ease-in-out infinite;
  width: 220px;
  height: 220px;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  position: absolute;
  top: -280px;
  left: 315px;
  border-radius: 50%;
  background-color: blue;
  z-index: 1;
}
.floatLeftt {
  animation: floatLeftt 4.5s ease-in-out infinite;
}

@keyframes floatRightt {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30vw, 15vw);
  }
  to {
    transform: translate(0, 0);
  }
}

.floatLeftt {
  width: 125px;
  height: 220px;
  filter: blur(120px);
  -webkit-filter: blur(120px);
  position: absolute;
  top: -214px;
  right: 120px;
  border-radius: 50%;
  background-color: blue;
  z-index: 1;
}

@keyframes floatLeftt {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-44vw, -10vw);
  }
  to {
    transform: translate(0, 0);
  }
}
@media only screen and (max-width: 768px) {
  .floatRightt {
    width: 221px;
    height: 207px;
    filter: blur(85px);
    position: absolute;
    top: -277px;
    left: 200px;
    right: 0;
    border-radius: 50%;
    background-color: blue;
    z-index: 1;
  }
}
