@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

.name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.role {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 5px 0;
  opacity: 0.75;
}
@media screen and (max-width: 768px) {
  .name {
    font-size: 14px;
  }
  .role {
    font-size: 10px;
    padding: 2px 0;
  }
}

.gredient {
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: -ms-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
}
